{% extends 'base.html.twig' %}

{% block title %}Log in | Reserva FTIC{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block body %}
    <div class="login-card">
        <div class="login-brand">
            <img src="{{ asset('images/Reserva-Logo.png') }}" alt="Reserva Logo">
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if error %}
            <div class="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form method="post" action="{{ path('app_login') }}" data-turbo="false">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input
                    type="email"
                    name="email"
                    id="inputEmail"
                    value="{{ last_username }}"
                    autocomplete="email"
                    required
                >
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input
                    type="password"
                    name="password"
                    id="inputPassword"
                    autocomplete="current-password"
                    required
                >
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn-primary" type="submit">Log in</button>
        </form>

        <p class="form-footer">Don't have an account? <a href="{{ path('app_register') }}" data-turbo="false" target="_self">Register here</a>.</p>
        <p class="form-footer">Already registered? <a href="{{ path('app_verify_registration') }}" data-turbo="false" target="_self">Verify your account</a>.</p>
    </div>
{% endblock %}
